<div class="container-cases">
  <div class="top-info">
    <div class="box">
      <p class="number">1321351</p>
      <p class="description">Total cases reported as of today</p>
    </div>
    <div class="box">
      <p class="number">1321351</p>
      <p class="description">New cases reported since previous day</p>
    </div>
  </div>
  <div class="container-table">
    <div class="options">
      <div class="search">
        <i class="fas fa-filter"></i>
        <input type="text" placeholder="Search country..">
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>State</th>
          <th>Country</th>
          <th>Total cases reported</th>
          <th>Changes since last day</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>

        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>

        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>

        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>

        </tr>
        <tr>
          <td>Cell 1</td>
          <td>Cell 2</td>
          <td>Cell 3</td>
          <td>Cell 4</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
