.container-app {
  min-height: 100vh;
  //background-image: url("../assets/img/home-background.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
